{% if include.content == null %}
  {% assign author = site[page.author] %}
{% else %}
  {% assign author = site[include.content] %}
{% endif %}

{% if author %}
  <span>
    Written by
    {% if author.web %}
      <a href="{{ author.web }}">{{ author.name }}</a>
    {% else %}
      {{ author.name }}
    {% endif %}
  </span>
{% endif %}
